body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.avatar {
  width: 150px;
}

.border {
 border-bottom: #e0afa0 5px solid;
 
}
.card {
  color: #463f3a;
  max-width: 400px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: #f4f3ee;
 
}

.center-text {
  text-align: center;
}

img {
  border-radius: 50%;
}
