body {
  margin: 20px auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 360px;
  
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/
label {
  font-weight: 900;
  color: #5f9341;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
}

button {
  padding: 10px 15px;
  border-radius: 3px;
  margin-top: 5px;
  font-weight: bold;
}
#input-btn,
#tab-btn {
  background-color: #5f9341;
  border: none;
  color: #fefffc;
}

#delete-btn {
  background-color: #fefffc;
  border: 1px solid #5f9341;
  color: #5f9341;
}
button:hover {
  transform: scale(0.95);
  transition: all ease-in-out 0.2s;
}

/* STYLE THE LIST ACCORDING TO THE DESIGN */
ul {
  padding-left: 0;
  margin-top: 20px;
  list-style: none;
}

ul > li {
  margin-top: 5px;
}

ul > li > a {
  color: #5f9341;
}
